/* be linked to video.html */
.center-frame {
    /* 位置属性 */
    flex-grow: 1;
    display: flex;
    /* 大小属性 */
    width: 100%;
    box-sizing: border-box;
}
.sideBarDetector {
    /* 大小属性 */
    width: 3%; min-height: 100%; 
    box-sizing: border-box;
    /* 背景属性 */
    border-radius: 0px 30px 30px 0px;
    background-color: brown;
    box-shadow: 0px 0px 15px 5px rgba(42, 42, 42, 0.3);
}
.contentWarp {
    /* 位置属性 */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* 大小属性 */
    max-width: 97%; min-height: 100%;
    box-sizing: border-box;
    margin-left: 30px; margin-right: 30px;
    /* 背景属性 */
    border-radius: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 80%), url("/img/bg_content.png") 50% 85% no-repeat; /*实现背景颜色渐变，url一定要放在background内，注意linear和url间的逗号*/
    box-shadow: 0px 0px 15px 5px rgba(42, 42, 42, 0.3);
}
.contentTop {
    /* 位置属性 */
    display: flex;
    /* 大小属性 */
    box-sizing: border-box;
    width: 100%; height: 80px;
    padding: 10px;
}
.content-title-icon {
    /* 大小属性 */
    box-sizing: border-box;
    width: 60px; height: 60px;
    padding: 10px;
}
.content-title-icon svg {
    /* 大小属性 */
    width: 100%; height: 100%;
}
.content-title {
    /* 大小属性 */
    box-sizing: border-box;
    width: 100px; height: 100%;
    padding: 10px;
}
.content-title span {
    /* 大小属性 */
    line-height: 40px;
    width: 100%; height: 100%;
    /* 文字属性 */
    font-size: 30px;
    font-weight: 600;
}
.contentCenter {
    /* 大小属性 */
    box-sizing: border-box;
    width: 100%; min-height: 90%;
    padding: 10px;
}
.content-body {
    /* 位置属性 */
    align-items: center;
    /* 大小属性 */
    box-sizing: border-box;
    width: 1130px; min-height: 100%;
    margin: 0 auto;
}
.content-mc_marginTop {
    /* 大小属性 */
    max-width: 1130px; height: 58px; 
    /* 背景属性 */
    background-image: url("/img/bg_border_top.png");
}
.content-bodyCenter {
    /* 位置属性 */
    display: flex;
    /* 大小属性 */
    width: 1130px; height: 840px;
    min-height: 840px;
}
.content-mc_marginLeft {
    /* 大小属性 */
    width: 84px; height: 100%;
    /* 背景属性 */
    background-image: url("/img/bg_border_left.png");
}
.content-mainPart {
    /* 位置属性 */
    display: flex;
    flex-grow: 1;
    /* 大小属性 */
    width: 962px; height: 100%;
    /* 背景属性 */
    background-color: #fbf2db;
}
.content-viewPic {
    /* 大小属性 */
    box-sizing: border-box;
    width: 35%; 
    min-width: 240px; min-height: 100%;
    /* 背景属性 */
    border-radius: 10px;
    background: url("/img/video\ viewPicture.png") center no-repeat;
    background-size: cover;
}
.content-TextBox {
    /* 位置属性 */
    flex-grow: 1;
    /* 大小属性 */
    box-sizing: border-box;
    width: 65%;
    padding-left: 30px;
}
.content-TextBox h2 {
    /* 大小属性 */
    margin: 0px;
}
.content-TextBox hr {
    /*大小属性*/
    width: 100%; height: 0.125px;
    /*背景属性*/
    border-width: 0.125px;
    border-color: black;
    background-color: black;
}
.content-TextBox ul {
    /*位置属性*/
    display: flex;
    flex-direction: column;
    /*大小属性*/
    width: 100%; height: 100%;
    margin: 0%; padding: 0%;
    /*其他属性*/
    list-style: none;
}
.content-TextBox li {
    /*位置属性*/
    align-items: center;    
    /*大小属性*/
    width: 100%;
    margin: 3px;
    /*背景属性*/
    border-radius: 5px;
    background-color: rgb(0, 195, 255);
}
.content-TextBox a {
    /* 文字属性 */
    text-decoration: none; /* 去除下划线 */
}
.content-mc_marginRight {
    /* 大小属性 */
    width: 84px; height: 100%;
    /* 背景属性 */
    background-image: url("/img/bg_border_right.png");
}
.content-mc_marginBottom {
    /* 大小属性 */
    width: 1130px; height: 58px;
    /* 背景属性 */
    background: no-repeat url("/img/bg_border_foot.png");
}